
<!DOCTYPE html>
<head>
  <title>{{ title }}</title>
</head>

<body>
  <h1>AUTOMATA NÖVÉNYRENDSZER</h1>
  <h2>A szerveroldali idő: {{ time }}</h2>
  <h2>Sensor adatok: {{ sensor }}</h2>
  <h2> {{ text }} </h2>
  <a href="/auto/water/ON"><button>AutoWatering bekapcsolása</button></a>
  <a href="/auto/water/OFF"><button>AutoWatering kikapcsolása</button></a>
  <a href="/sensor"><button>Soil státusz</button></a> <br>
  <a href="/water"><button>Öntözz egyszer</button></a>
  <a href="/last_watered"><button>Utoljára öntözve</button></a>

</body>
</html>